#contenedor-formulario{
    display: flex;
    flex-direction: column;
}

#nombre{
    margin-bottom: 1rem;
}

#telefono{
    margin-bottom: 1rem;
}

#correo{
    margin-bottom: 1rem;
}

#estado {
    margin-bottom: 1rem;
}

#contenedor-guardar {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}