<header id="header">
    <h1 id="nombre-de-proyecto">Sistema de Gestión de Proyectos</h1>
    <nav id="nav">
        <a routerLink="/proyectos" routerLinkActive="activo">Proyectos</a>
        <a routerLink="/estadisticas" routerLinkActive="activo">Estadísticas</a>
    </nav>
    <div id="usuario">
        <div id="info-usuario">
            <span id="bienvenida">Hola, {{ nombreUsuario }}</span>
            <span id="fecha-hoy">{{ fechaHoy }}</span>
        </div>
        <p-button id="boton-cerrar-sesion" icon="pi pi-sign-out" label="Cerrar Sesión" severity="danger" (click)="cerrarSesion()"></p-button>
    </div>
</header>
<div id="content">
    <ng-content></ng-content>
</div>